@media screen and (max-width:800px) {

.listProduct .col-lg-2{
      width: 50%;
}
.listProduct {
      padding-left: 15px;
      padding-right: 15px;
}
  .thumbnail .caption h4{
    font-size: 18px;
}
  #menuLeft{
    max-width: 100% !important;
    padding-left: 0;
}

@media screen and (max-width:640px) {

}
@media screen and (max-width:480px) {
  
}

@media(max-width: 320px){
 
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .boxsp .img-boxsp {
    height: 180px;
    overflow: hidden;
    position: relative;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	
}
@media screen and (min-width: 1200px) {
  
}