@media screen and (max-width:800px) {
  .banner-web-1,.banner-web-2{
      height: 450px;
    }
    .banner-web-1{
      padding-top: 10%;
    }
    .banner-web-2{
      padding-top: 7%;
    }
    .btn-side{
      display: none;
    }
    .content4 .slick-prev,.content4 .slick-next,.splienquan .slick-prev,.splienquan .slick-next{
    display: none !important;
  }
    
}
@media screen and (max-width:640px) {

  .slogan-1 h2{
    font-size: 30px;
  }
  .img-box2 {
      height: 220px;
      overflow: hidden;
  }
 
  .splienquan .boxsp .img-boxsp {
    height: 280px;
    overflow: hidden;
    position: relative;
  }
}
@media screen and (max-width:480px) {
  .boxsp .img-boxsp {
    height: 180px;
    overflow: hidden;
    position: relative;
  }
  .boxsp h3 {
    font-size: 15px;
    margin-top: 0;
    text-align: center;
    color: #000;
    transition: all 0.6s ease;
  }
  .boxsp p span:nth-child(1) {
    margin-right: 5px;
    text-decoration: line-through;
    color: #000;
  }
}

@media(max-width: 320px){
  .slogan-1{
  min-height: 600px;
  padding-top: 20px;
}
}





@media screen and (min-width: 768px) and (max-width: 991px) {
  .boxsp .img-boxsp {
    height: 180px;
    overflow: hidden;
    position: relative;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.navbar-brand{
		padding-top: 10px;
	}
   .navbar-brand>img{
   	width: 70%;
   }
   .navbar-default .navbar-nav>li>a{
   	font-size: 12px;
   }
   .search-top {
    position: absolute;
    top: 50%;
    right: 5%;
    color: #0081cb;
    font-weight: bold;
}
.f-search {
    position: absolute;
    top: 80%;
    right: 5%;
    z-index: 999;
    display: none;
}
.boxchitiet li {
    font-size: 13px;
    list-style-type: none;
    min-height: 40px;
    line-height: 40px;
    position: relative;
}
}
@media screen and (min-width: 1200px) {
.slogan-1{
  min-height: 350px;
  padding-top: 20px;
}
.conten-tinlienquan .col-sm-4{
  padding-right: 0px;
}
.conten-tinlienquan .col-sm-8{
  padding-left: 5px;
}
}